## Datetime functions to remember.

In [1]:
from datetime import datetime

In [2]:
# input a string for a date and output is a datetime object
dt_object = datetime.strptime('25/11/2022', '%d/%m/%Y')
dt_object

datetime.datetime(2022, 11, 25, 0, 0)

In [7]:
# input a string for a date and output is a datetime object.
dt_object = datetime.strptime('25/11/2022', '%d/%m/%Y')
dt_object

datetime.datetime(2022, 11, 25, 0, 0)

In [3]:
# output is a datetime object.
datetime.strftime(dt_object, '%d/%m/%Y')

'25/11/2022'

In [8]:
# output is a datetime object.
datetime.strftime(dt_object, '%d/%m/%Y')

'25/11/2022'

In [4]:
# here, we get a float as an output
datetime.timestamp(dt_object)

1669323600.0

In [5]:
# string to a string.
datetime.strptime('25/11/2022', '%d/%m/%Y').strftime('%Y-%m-%d')

'2022-11-25'

In [6]:
# float/timestamp to datetime.
datetime.fromtimestamp(1617836400.0)

datetime.datetime(2021, 4, 8, 2, 0)

In [7]:
# float/timestamp to a string.
datetime.fromtimestamp(1617836400.0).strftime('%d/%m/%Y')

'08/04/2021'

In [16]:
# from one timezone to another.
from pytz import timezone
ny_time = datetime.strptime('25-11-2022  09:34:00-0700', '%d-%m-%Y  %H:%M:%S%f%z')
Tokyo_time = ny_time.astimezone(timezone('Asia/Tokyo'))
Tokyo_time

datetime.datetime(2022, 11, 26, 1, 34, tzinfo=<DstTzInfo 'Asia/Tokyo' JST+9:00:00 STD>)

In [22]:
# 24hrs  to a 12hrs format.
datetime.strptime('20:00', '%H:%M').strftime("%I:%M %p")

'08:00 PM'

In [21]:
# from 12hrs to a 24hrs format.
datetime.strptime('08:00 PM', '%I:%M  %p').strftime('%H:%M')

'20:00'

## Datetime in NumPy and Pandas.

In [23]:
# import the library and packages.
import pandas as pd
import numpy as np

In [24]:
data = ['2023-01-20', '2023-04-27', '2023-06-15']
my_series = pd.Series(data)
my_series

0    2023-01-20
1    2023-04-27
2    2023-06-15
dtype: object

In [25]:
# converting the dates in my_series to datetime.
my_series = pd.to_datetime(my_series)
my_series

0   2023-01-20
1   2023-04-27
2   2023-06-15
dtype: datetime64[ns]

In [28]:
# when a series contains datetime data, U can use dt to access various properties of the data.
print(my_series.dt.year)
print(my_series.dt.month)
# print(my_series.dt.month_name)
print(my_series.dt.day)

0    2023
1    2023
2    2023
dtype: int64
0    1
1    4
2    6
dtype: int64
0    20
1    27
2    15
dtype: int64